
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-lightcoral: #e97d80; /* Key color  */
  --color-ghostWhite: #fbfcff; /* onKey color */
  --color-paleRose: #f9d7d8; /* Container color */
  --color-darkMaroon: #411012; /* onContainer color */

  /* Secondary Colors */
  --color-inactiveGray: #b3b3d8; /* Key color */
  --color-ghostWhite: #fbfcff; /* onKey color */
  --color-aliceBlue: #eff1f9; /* Container color */
  --color-charcoal: #2a2a44; /* onContainer color */

  /* Secondary Colors 2 */
  --color-grunge: #231f20; /* Key color & onContainer color*/
  --color-ghostWhite: #fbfcff; /* onKey color */
  --color-thistle: #ead4da; /* Container color */

  /* fonts */
  --font-Poppins: "Poppins", sans-serif;
  
}
/* base style */
@layer base {
  html, body, #root {
    font-family: var(--font-Poppins);
    background-color: var(--color-ghostWhite);
    color: var(--color-charcoal);
    margin: 0;
  padding: 0;
  height: 100%;
  }
  h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    color: var(--color-charcoal);
  }
  a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
  }
  button {
    cursor: pointer;
    font-family: var(--font-Poppins);
  }
}
/* components style: multiple css properties */
@layer components {
  .primary-btn {
    @apply bg-charcoal hover:bg-grunge text-ghostWhite text-base font-medium py-2 px-4 rounded shadow-sm hover:shadow-sm transition duration-300;
  }
  .x-axis-padding{
    @apply mx-auto px-[1rem] sm:px-[2rem] lg:px-[4rem] xl:px-[5rem] 2xl:px-[6rem];
  }
}
/* utilities style: one functionality */
@layer utilities {
  .border{
    @apply border-8 border-b-lightcoral
  }
}